* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    background-color: #56464E;
    font-family: 'Trebuchet MS';
}

.grid {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 10% 10% 70% 10%;
}

.nav {
    background-color: #CF6E4B;
    overflow: hidden;
    grid-row: 1/2;
    grid-column: 1/6;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.nav a {
    float: left;
    display: block;
    color: #F4F2F1;
    text-align: center;
    padding: 1em 1.6em;
    text-decoration: none;
    font-size: x-large;
}

.nav a:hover {
    background-color: #F4F2F1;
    color: #56464E;
}

.icon {
    display:none;
}
input#menu {
    display: none;
}

.form {
    grid-row: 3/4;
    grid-column: 2/5;
    display: grid;
    grid-template-columns: 10% 30% 20% 30% 10%;
    grid-template-rows: 20% 80%;
    background-color: #BF7B88;
}

.form h1 {
    text-align: center;
    grid-column: 3/4;
    grid-row: 1/2;
    color: #56464E;
    padding: 0;
}

form label {
    color:#56464E;
    font-size: large;
}

form {
    grid-column: 2/5;
    grid-row: 2/3;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}

form input {
    width: 100%;
    margin-top: 1em;
    margin-bottom: 1em;
    background-color: #F4F2F1;
    border-radius: 10px;
}
.message {
    height: 20%;
}

form button {
    align-self: center;
    background-color: #56464E;
    color: #F4F2F1;
    font-family: 'Trebuchet MS';
    border: none;
    padding-right: 2em;
    padding-left: 2em;
    padding-top: 1em;
    padding-bottom: 1em;
}

form .links {
    align-self: center;
    padding: 2em;
}

form a {
    text-decoration: none;
    color: #56464E;
    font-size: 2em;
}

@media screen and (max-width: 768px) {

    .grid {
        grid-template-rows: max-content 10% max-content 10%;
    }

    .icon {
        display: block;
        cursor: pointer;
        color: #F4F2F1;
        padding: 1em;
    }

    .menu-content {
        max-height: 0;
        overflow: hidden;
    }
    
    input:checked ~ .menu-content {
        max-height: 100%;
        display:flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }
}